## Pandas 기초
Pandas 모듈
- Series Class : 1차원
  - 인덱스(index) + 값(value)
- DataFrame Class : 2차원
  - 표와 같은 형태

In [55]:
import pandas as pd

#### Pandas 연습 01
각 도시의 2015년 인구 데이터를 시리즈로 만드시오.
```
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
```

In [56]:
se = pd.Series([9904312, 3448737, 2890451, 2466052],
             index=['서울', '부산', '인천', '대구'])

se

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

#### Pandas 연습 02
DataFrame을 이용하여 아래와 같은 결과를 구성하시오.

| |홍길동|	김사또|	임꺽정|
|---|---|---|---|
|키|	175.3|	180.2|	178.6|
|몸무게|	66.2|	78.9|	55.1|
|나이|	27.0|	49.0|	35.0|

In [57]:
df = pd.DataFrame({'홍길동': [175.3, 66.2, 27.0],
                   '김사또': [180.2, 78.9, 49.0],
                   '임꺽정': [178.6, 55.1, 35.0]},
                  index=['키', '몸무게', '나이'])
df

       홍길동    김사또    임꺽정
키    175.3  180.2  178.6
몸무게   66.2   78.9   55.1
나이    27.0   49.0   35.0

#### Pandas 연습 03-1

#### csv 파일 읽어온다.

score.csv

drive_path = '...'

In [58]:
drive_path = './data/'

score = pd.read_csv(drive_path + 'score.csv',
                    index_col='과목', encoding='utf-8')
score

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

과목별 평균을 계산하여 column 추가하기
```

        1반  2반	3반	4반	합계	평균
과목
수학	45	44	73	39	201	50.25
영어	76	92	45	69	282	70.50
국어	47	92	45	69	253	63.25
사회	92	81	85	40	298	74.50
과학	11	79	47	26	163	40.75
```

In [59]:
score['합계'] = score.sum(axis=1)
score

    1반  2반  3반  4반   합계
과목
수학  45  44  73  39  201
영어  76  92  45  69  282
국어  47  92  45  69  253
사회  92  81  85  40  298
과학  11  79  47  26  163

In [60]:
score['평균'] = score[['1반', '2반', '3반', '4반']].mean(axis=1).round(2)
score

    1반  2반  3반  4반   합계     평균
과목
수학  45  44  73  39  201  50.25
영어  76  92  45  69  282  70.50
국어  47  92  45  69  253  63.25
사회  92  81  85  40  298  74.50
과학  11  79  47  26  163  40.75

#### Pandas 연습 03-2

반평균을 계산 하여 row 추가 하기
```
	      1반	2반	 3반 	4반 	합계	평균
과목
수학	45.0	44.0	73.0	39.0	201.0	50.25
영어	76.0	92.0	45.0	69.0	282.0	70.50
국어	47.0	92.0	45.0	69.0	253.0	63.25
사회	92.0	81.0	85.0	40.0	298.0	74.50
과학	11.0	79.0	47.0	26.0	163.0	40.75
반평균  54.2	77.6	59.0	48.6	239.4	59.85
```

In [61]:
score.mean()

1반     54.20
2반     77.60
3반     59.00
4반     48.60
합계    239.40
평균     59.85
dtype: float64

In [62]:
score.loc['반평균'] = score.mean()

score.loc['반평균', '합계'] = score.loc['반평균', ['1반', '2반', '3반', '4반']].sum()

score.loc['반평균', '평균'] = score.loc['반평균', ['1반', '2반', '3반', '4반']].mean().round(2)

score

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6  239.4  59.85

#### Pandas 연습 03-3

반 평균, 합계, 평균을 제외한 데이터 중 과목별 가장 큰 값, 작은 값을 구하시오.

```
과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64
```
```
과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64
```

In [73]:
subject_max = score[['1반', '2반', '3반', '4반']].max(axis=1)
subject_max = subject_max.drop('반평균')
print(subject_max)

subject_min = score[['1반', '2반', '3반', '4반']].min(axis=1)
subject_min = subject_min.drop('반평균')
print(subject_min)

과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64
과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64

#### Pandas 연습 03-4

과목별 가장 큰 값과 작은 값의 차를 구하시오.
```
과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64
```

In [74]:
subject_diff = subject_max - subject_min
subject_diff

과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64